
<div class="container">
<mat-stepper #stepper linear="true">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Demographic Details</ng-template>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field floatLabel="auto" appearance="outline" style="width:100%;">
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="title">
                      <mat-option *ngFor="let title of titles" [value]="title.name">
                        {{title.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width:100%;">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Last name, First name" formControlName="name" required>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" style="width:100%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field floatLabel="auto" appearance="outline" style="width:100%;">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option *ngFor="let gender of genders" [value]="gender.name">
                        {{gender.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field floatLabel="auto" appearance="outline" style="width:100%;">
                    <mat-label>Nationality</mat-label>
                    <mat-select formControlName="nationality">
                      <mat-option *ngFor="let nationality of nationalities" [value]="nationality.name">
                        {{nationality.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field floatLabel="auto" appearance="outline" style="width:100%;">
                    <mat-label>I was born in Morocco</mat-label>
                    <mat-select formControlName="confirmation">
                      <mat-option *ngFor="let confirmation of confirmations" [value]="confirmation.value">
                        {{confirmation.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class="col-sm-4">
                <mat-form-field floatLabel="auto" appearance="outline" style="width:100%;">
                    <mat-label>Place of Birth</mat-label>
                    <mat-select formControlName="confirmation">
                      <mat-option *ngFor="let confirmation of placeOfBirth" [value]="confirmation.name">
                        {{confirmation.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Upload Documents</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Book Appointment</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
  </mat-stepper>
</div>