
/* .sidenav-container {
} */
 
.sidenav {
  width: 200px;
}
 
/* @media (min-width:768px) {
  .sidenav {
    display: none;
  }
} */
 
/* .sidenav .mat-toolbar {
  background: white;
} */
 
.mat-toolbar.mat-primary {
  position:sticky;
  top: 0;
  z-index: 5;
  height: 3.6rem;
  background-color: rgba(15, 104, 178, 1);
  padding: 30px;
}
 
.spacer{
  flex: 1 1 auto;
}
 
.nav-link button{
  color: white;
}
.nav-link{
  display: flex;
  gap: 8px;
  align-content: center !important;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 16px;
  height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  max-height: 100%;
}
 
.nav-link-inserted {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  /* height: 30px; */
  height:58px;
  /* margin: 0 10px; */
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  padding: 0 10px;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
} 
.nav-link-inserted:hover{
  color: white;
}
.nav-link-inserted:hover{
  color: white;
}
 
.mat-toolbar span{
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.active{
  border-bottom: 3px solid white !important;
  color:white !important;
  transition: border-bottom 0.1s ease-in-out;
}
 
.title{
  color: black;
  font-weight: 600 !important;
}
 
.img-pareza{
  height: 50px;
}
 
/* .title-anchor{
  text-decoration: none;
} */
 
.left-image {
  /* margin-right: 8px;
  margin-bottom: 10px; */
  width: 50px;
  height: 50px;
  border-radius: 2px black solid;
  border-radius: 50%;
  cursor: pointer;
}
 
.image-border{
  border-radius:50%;
  border:lightgray solid;
}
 
.menu-card{
  width: 50px;
}
 
/* :host ::ng-deep .mat-drawer-content,
:host ::ng-deep .mat-sidenav-content {
    overflow: hidden;
} */
 
 
/* button .mat-icon{
  width: 30px;
  height: 30px;
} */
 
/* .nav-btn{
  font-size: 16px;
  font-weight: 150;
  margin-right: 5px;
} */
/* .mat-sidenav-container {
  height: 100%;
}
 
.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
} */