.img-pareza{
    height: 120px;
    width:80%;
    margin-bottom: 15px;
   
  }
  .user-input{
    font-size:14px;
  }
  .timer{
    color:red;
  }
  ::ng-deep .box{
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
    border: 1px solid #ccc !important;
    text-align: center !important;
    font-size: 18px !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
  }
  
  ::ng-deep .box:focus{
    border: 1px solid #007bff !important;
    outline: none;
  }
::ng-deep .ng-otp-input-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}