.app-card{
    height: fit-content;
    border-radius: 10px;
    background: rgba(244, 244, 244, 1);
}

.app-card h5{
    font-size: 14px;
}

.app-card-footer h6{
    font-size: 10px;
}

.card-con h5{
    color: rgba(91, 74, 74, 1);
}
.card-con{
    padding-left: 10px;
}

.card-foot h5{
    margin-left: 6px;
    margin-bottom: 0px;
}
.card-footer-bg{
    /* background-color: rgba(15, 104, 178, 1); */
    color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}

.card-header-bg{
    padding: 5px;
    padding-bottom: 0px;
}
.card-header{
    background: rgba(244, 244, 244, 1);
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    border-bottom:1px solid lightgray;
}
.card-header h5{
    margin-bottom: 0px;
}
mat-icon{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.booked{
    color:#088E2E !important;
}
.appIncomplete{
    color:#CD730A !important;
}
.pending{
    color:#CD730A !important;
}
.expired{
    color:#AE0D0D  !important;
}
.cancelled{
    color:#AE0D0D  !important;
}
.bookedFooter{
    background-color:#088E2E !important;
}
.appIncompleteFooter{
    background-color:#CD730A !important;
}
.pendingFooter{
    background-color:#CD730A !important;
}
.expiredFooter{
    background-color:#AE0D0D  !important;
}
.cancelledFooter{
    background-color:#AE0D0D  !important;
}